--extra-index-url https://download.pytorch.org/whl/cu121

# Core Deep Learning
torch
torchvision
torchaudio

# Data Processing & Math
pandas
numpy
scikit-learn

# Financial & Indicators
ta

# Visualization & Web App
matplotlib
plotly
streamlit

# File I/O & Utils
openpyxl
pyarrow
tqdm
xgboost
python-docx
scipy
seaborn